@import url(variables.css);

:root {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-blue: #2998ff;
  --red: #df1515;
  --light-red: #f87171;
  --black: #000;
  --dark-blue: #135cc5;

  /* intentions */
  --primary: var(--light-blue);
  --secondary:var(--dark-blue);

  /* typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  
}

.hero {
  background-color: var(--primary);
}

.warm{
  --primary: var(--red);
  --secondary: var(--light-red);
}
.cool{
  --primary: var(--light-blue);
  --secondary:var(--dark-blue);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
