@import url(variables.css);

:root {
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-white: #ececec;
  --dark-grey: #413c58;
  --dark-blue: #636693;
  --light-blue: #b3cef3;

  /* intentions */
  --primary: var(--light-white);
  --secondary: var(--light-blue);
  --dark-mode-text: var(--dark-text);
  --light-mode-text: var(--light-text);

  /* typography */
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --dark-text: #ffff;
  --light-text: #413c58;
}

.welcome {
  background-color: var(--secondary);
  padding: 1.5rem;
}

.light-mode {
  --primary: var(--light-white);
  --secondary: var(--light-blue);
  --light-mode-text: var(--light-text);
   color: var(--light-mode-text);
}
.dark-mode {
  --primary: var(--dark-grey);
  --secondary: var(--dark-blue);
  --dark-mode-text: var(--dark-text);
   color: var(--dark-mode-text);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
